.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.4s ease-in-out;
  padding: 0px 64px 0px 64px;
}

.form:hover {
  transform: scale(1.05);
}

#heading {
  text-align: center;
  margin: 2em;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
}

.field {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  margin-bottom: 3em;
}
.login-button {
  width: 100%;
  margin-top: 1em;
}
.register-button {
  width: 50%;
}
.forgot-password-button {
  width: 50%;
}

.hint-message {
  height: 32px;
  border-radius: 8px;
  width: 300px;
  color: rgb(0, 0, 0);
  font-size: 12px;
  text-align: center;
}
