<app-loader *ngIf="hasShowLoader"></app-loader>
<div class="message-block" *ngIf="restorePasswordMessageShow">
  {{ restorePasswordMessage }}
</div>
<div class="forgot-password-wrapper">
  <div class="form">
    <p id="heading">Восстановление пароля</p>
    <div class="field">
      <input
        [(ngModel)]="form.email"
        required
        autocomplete="off"
        placeholder="Email"
        class="input-field"
        type="email"
      />
      <span class="hint-message" *ngIf="!emailRegex.test(form.email)">
        {{ errorMessageEmail }}
      </span>
      <input
        placeholder="Новый пароль"
        class="input-field"
        type="password"
        [(ngModel)]="form.newPassword"
        required
      />
      <span
        class="hint-message"
        *ngIf="form.newPassword.length < minPasswordLength"
        >{{ errorMessagePasswordLength }}</span
      >
      <input
        [(ngModel)]="form.confirmNewPassword"
        required
        autocomplete="off"
        placeholder="Повторите пароль"
        class="input-field"
        type="password"
      />
      <span
        class="hint-message"
        *ngIf="form.confirmNewPassword !== form.newPassword"
        >{{ errorMessagePasswordMatch }}</span
      >
      <button class="restore-password-button" (click)="restorePassword()">
        Восстановить
      </button>
    </div>
  </div>
  <img width="500px" src="../../../../assets/images/Forgot password-bro.svg" />
</div>
